/dev/tegra-throughput	0666	system	system
/dev/knvmap	0660	system	system
/dev/nvmap	0666	system	system
/dev/tegra_avp	0660	media	media
/dev/tegra_avpchannel	0660	media	media
/dev/tegra_audio_avpchannel	0660	media	media
/dev/tegra_rpc	0660	media	media
/dev/tegra_sema	0660	media	media
/dev/tegra_mediaserver	0660 	media 	media
/dev/ov5650	0660	media	camera
/dev/ov5640	0660	media	camera
/dev/ov2710	0660	media	camera
/dev/sh532u	0660	media	camera
/dev/tps61050-1	0660	media	camera
/dev/tegra_camera 0660	media	camera
/dev/i2c-0 0660	media	camera
/dev/i2c-1 0660	media	camera
/dev/i2c-3 0660	media	camera
/dev/i2c-4 0660	media	camera
/dev/camera*	0660	media	camera
/dev/focuser*	0660	media	camera
/dev/torch*	0660	media	camera
/dev/video0	0660	media	camera
/dev/video1	0660	media	camera
/dev/ov14810	0660	media	camera
/dev/spdif*	0660	system	audio
/dev/tegra_dc*	0660	system	system
/dev/ttyACM*	0660	radio	system
/dev/ttyACM2	0660	radio	log
/dev/mpu	0640	system	system
/dev/mpuirq	0640	system	system
/dev/accelirq	0640	system	system
/dev/timerirq	0640	system	system
/dev/nvhdcp0    0666    system  system
/dev/nvhdcp1    0666    system  system
/dev/nvhost-ctrl	0666	root	root
/dev/nvhost-display	0666	root	root
/dev/nvhost-dsi	0666	root	root
/dev/nvhost-gr2d	0666	root	root
/dev/nvhost-gr3d	0666	root	root
/dev/nvhost-isp	0666	root	root
/dev/nvhost-mpe	0666	root	root
/dev/nvhost-vi	0666	root	root
/dev/tf_driver	0666	system	system
/dev/ttyHS1	0660	bluetooth	bluetooth
/dev/ttyHS2	0664	root	system
/dev/input/event0	0664	root	input
/dev/ion	0666	system	system
/dev/raydium_ts	0660	system	system
/dev/pn544	0660	nfc	nfc
/dev/timerinfo	0444	system	system
/dev/cpu_freq_min	0660	system	system
/dev/cpu_freq_max	0660	system	system
/dev/min_online_cpus	0660	system	system
/dev/max_online_cpus	0660	system	system
/dev/hci_tty    0666   bluetooth bluetooth
/dev/videodec0	0666	root	root
/dev/hdmi_rx0	0666	root	root
/dev/mtd/mtd3	0666	root	root
/dev/mtd/mtd4	0666	root	root
/dev/ecncdsp	0666	root	root
# allow wpa_supplicant access to rfkill dev
/dev/rfkill 0660 wifi wifi
/dev/gyroscope0	0440	system	system
/sys/devices/platform/tegra-ehci.0 test_mode 0664 system system wait
/sys/devices/platform/tegra-ehci.0 suspend_test 0220 system system wait
/sys/devices/platform/tegra-ehci* test_descriptor 0220 system system
